# Arrays: LIST-TUPLE-SET-DICTIONARY

# LIST

In [ ]:
Potter=["Harry","Wizard","Magic"]
print(Potter[1])

In [ ]:
#Loop through a LIST
Potter=["Harry","Wizard","Dumbeldore"]
for x in Potter:
    print(Potter)

In [ ]:
#Check If Item Exists
Potter=["Harry","Wizard","Dumbeldore","S","Z","Hogwarts"]
if "R" in Potter:
    print("YES, 'R' is in Potter")
else:
    print("NO")

In [ ]:
#List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(type(list1))

In [ ]:
#Let's check the statement that lists are the ordered.
a = [1,2,"Peter",4.50,"Ricky",5,6]  
b = [1,2,5,"Peter",4.50,"Ricky",6]  
a == b

In [ ]:
#Let's have a look at the list example in detail.
emp = ["John", 102, "USA"]     
Dep1 = ["CS",10]  
Dep2 = ["IT",11]    
HOD_CS = [10,"Mr. Holding"]    
HOD_IT = [11, "Mr. Bewon"]    
print("printing employee data...")    
print("Name : %s, ID: %d, Country: %s"%(emp[0],emp[1],emp[2]))    
print("printing departments...")   
print("Department 1:\nName: %s, ID: %d\nDepartment 2:\nName: %s, ID: %s"%(Dep1[0],Dep2[1],Dep2[0],Dep2[1]))    
print("HOD Details ....")    
print("CS HOD Name: %s, Id: %d"%(HOD_CS[1],HOD_CS[0]))    
print("IT HOD Name: %s, Id: %d"%(HOD_IT[1],HOD_IT[0]))    
print(type(emp),type(Dep1),type(Dep2),type(HOD_CS),type(HOD_IT))  

#In the above example, we have created the lists which consist of the 
#employee and department details and printed the corresponding details.

In [ ]:
#List indexing and splitting
#The indexing is processed in the same way as it happens with the strings. 
#The elements of the list can be accessed by using the slice operator [].
HI=[1,5,2,3,4]
print(HI[0:2])

In [ ]:
#list_varible(start:stop:step)  
list = [1,2,3,4,5,6,7]  
print(list[0])  
print(list[1])  
print(list[2])  
print(list[3])  
# Slicing the elements  
print(list[0:6])  
# By default the index value is 0 so its starts from the 0th element and go for index -1.  
print(list[:])  
print(list[2:5])  
print(list[1:6:2])

In [ ]:
#Negative extraction
list = [1,2,3,4,5]  
print(list[-1])  
print(list[-3:])  
print(list[:-1])  
print(list[-3:-1])

In [ ]:
#Updating List values
list = [1, 2, 3, 4, 5, 6]     
print(list)     
# It will assign value to the value to the second index   
list[2] = 10   
print(list)    
# Adding multiple-element   
list[1:3] = [89, 78]     
print(list)   
# It will add value at the end of the list  
list[-1] = 25  
print(list)

In [ ]:
#Iterating a List
list = ["John", "David", "James", "Jonathan"]    
for i in list:   
    # The i variable will iterate over the elements of the List and contains each element in each iteration.     
    print(i)

In [ ]:
#Adding elements to the list
#Declaring the empty list  
l =[]  
#Number of elements will be entered by the user    
n = int(input("Enter the number of elements in the list:"))  
# for loop to take the input  
for i in range(0,n):     
    # The input is taken from the user and added to the list as the item  
    l.append(input("Enter the item:"))     
print("printing the list items..")   
# traversal loop to print the list items    
for i in l:   
    print(i, end = "  ")

In [ ]:
#Removing elements from the list
list = [0,1,2,3,4]     
print("printing original list: ");    
for i in list:    
    print(i,end=" ")    
list.remove(2)    
print("\nprinting the list after the removal of first element...")    
for i in list:    
    print(i,end=" ")

In [ ]:
#Removing elements from the list
list = [0,1,2,3,4]     
print("printing original list: ");    
for i in list:    
    print(i,end=" ") 
n=int(input("Enter the element position to be removed in the List"))
list.remove(n)
list.remove(2)    
print("\nprinting the list after the removal of first element...")    
for i in list:    
    print(i,end=" ")

# TUPLE

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [5]:
T1 = (101, "Peter", 22)    
T2 = ("Apple", "Banana", "Orange")     
T3 = 10,20,30,40,50  
print(type(T1))

<class 'tuple'>

In [6]:
tuple1 = (10, 20, 30, 40, 50, 60)    
print(tuple1)    
count = 0    
for i in tuple1:    
    print("tuple1[%d] = %d"%(count, i))   
    count = count+1

(10, 20, 30, 40, 50, 60)
tuple1[0] = 10
tuple1[1] = 20
tuple1[2] = 30
tuple1[3] = 40
tuple1[4] = 50
tuple1[5] = 60

In [ ]:
tuple1 = tuple(input("Enter the tuple elements ..."))  
print(tuple1)    
count = 0    
for i in tuple1:    
    print("tuple1[%d] = %s"%(count, i))   
    count = count+1

In [ ]:
tuple = (1,2,3,4,5,6,7)  
#element 1 to end  
print(tuple[1:])  
#element 0 to 3 element   
print(tuple[:4])  
#element 1 to 4 element  
print(tuple[1:5])   
# element 0 to 6 and take step of 2  
print(tuple[0:6:2])

In [9]:
thistuple = ("apple", "banana", "cherry")
thistuple.append("orange") # This will raise an error
print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [13]:
thistuple = ("apple", "banana", "cherry")
#thistuple[1]= "Carrot"
print(thistuple)

('apple', 'banana', 'cherry')

# SETS

In [1]:
#Creating a set
#Example 1: Using curly braces
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Sunday', 'Wednesday', 'Tuesday', 'Monday', 'Saturday', 'Friday', 'Thursday'}
<class 'set'>
looping through the set elements ...
Sunday
Wednesday
Tuesday
Monday
Saturday
Friday
Thursday

In [2]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Sunday', 'Wednesday', 'Tuesday', 'Monday', 'Saturday', 'Friday', 'Thursday'}
<class 'set'>
looping through the set elements ...
Sunday
Wednesday
Tuesday
Monday
Saturday
Friday
Thursday

In [3]:
# Creating a set which have immutable elements  
set1 = {1,2,3, "HARRY POTTER", 20.5, 14}  
print(type(set1))  
#Creating a set which have mutable element  
set2 = {1,2,3,["HARRY POTTER",4]}  
print(type(set2))  

#In the above code, we have created two sets, the set set1 have immutable elements and set2 have one mutable element as a list.
#While checking the type of set2, it raised an error, which means set can contain only immutable elements.

<class 'set'>

TypeError: unhashable type: 'list'

In [5]:
#Adding items to the set
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nAdding other months to the set...");    
Months.add("July");    
Months.add ("August");    
print("\nPrinting the modified set...");    
print(Months)    
print("\nlooping through the set elements ... ")    
for i in Months:    
    print(i)

printing the original set ...
{'February', 'January', 'May', 'June', 'April', 'March'}

Adding other months to the set...

Printing the modified set...
{'August', 'February', 'January', 'May', 'July', 'June', 'April', 'March'}

looping through the set elements ...
August
February
January
May
July
June
April
March

In [ ]:
#Using update() function
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nupdating the original set ... ")    
Months.update(["July","August","September","October"]);    
print("\nprinting the modified set ... ")     
print(Months);

In [6]:
#Removing items from the set
#Using discard() method
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.discard("January");    
months.discard("May");    
print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")    
for i in months:    
    print(i)

printing the original set ...
{'February', 'January', 'May', 'June', 'April', 'March'}

Removing some months from the set...

Printing the modified set...
{'February', 'June', 'April', 'March'}

looping through the set elements ...
February
June
April
March

In [7]:
#USE POP METHOD
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving some months from the set...");    
Months.pop();    
#Months.pop();    
print("\nPrinting the modified set...");    
print(Months)

printing the original set ...
{'February', 'January', 'May', 'June', 'April', 'March'}

Removing some months from the set...

Printing the modified set...
{'January', 'May', 'June', 'April', 'March'}

In [11]:
Months = {"January","February", "March", "April", "May", "June"}
x=Months.pop()
print(x)
print(Months)

February
{'January', 'May', 'June', 'April', 'March'}

In [ ]:
#Python Set Operations
#Usign UNION Operator
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2) #printing the union of the sets

In [ ]:
#using union() method
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1.union(Days2)) #printing the union of the sets

In [ ]:
#Intersection of two sets
#Using & operator
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2) #prints the intersection of the two sets

In [ ]:
#Using intersection() method
set1 = {"Devansh","John", "David", "Martin"}    
set2 = {"Steve", "Milan", "David", "Martin"}    
print(set1.intersection(set2)) #prints the intersection of the two sets

In [12]:
#SET COMPARISION
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
    
#Days1 is the superset of Days2 hence it will print true.     
print (Days1>Days2)     
    
#prints false since Days1 is not the subset of Days2     
print (Days1<Days2)    
    
#prints false since Days2 and Days3 are not equivalent     
print (Days2 == Days3)

True
False
False

# DICTIONARY

In [14]:
#Creating the dictionary
Dict = {"Name": "Tom", "Age": 22}    
print(Dict)

{'Name': 'Tom', 'Age': 22}

In [ ]:
#example to create a dictionary and print its content.
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}    
print(type(Employee))    
print("printing Employee data .... ")    
print(Employee)

In [15]:
#Accessing the dictionary values
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}  
print(type(Employee))  
print("printing Employee data .... ")  
print("Name : %s" %Employee["Name"])  
print("Age : %d" %Employee["Age"])  
print("Salary : %d" %Employee["salary"])  
print("Company : %s" %Employee["Company"])

<class 'dict'>
printing Employee data ....
Name : John
Age : 29
Salary : 25000
Company : GOOGLE

In [17]:
#Adding dictionary values
# Creating an empty Dictionary   
Dict = {}   
print("Empty Dictionary: ")   
print(Dict)   
    
# Adding elements to dictionary one at a time   
Dict[0] = 'Peter'  
Dict[2] = 'Joseph'  
Dict[3] = 'Ricky'  
print("\nDictionary after adding 3 elements: ")   
print(Dict)   
    
# Adding set of values    
# with a single Key   
# The Emp_ages doesn't exist to dictionary  
Dict['Emp_ages'] = 20, 33, 24  
print("\nDictionary after adding 3 elements: ")   
print(Dict)   
    
# Updating existing Key's Value   
Dict[3] = 'MAGIC'  
print("\nUpdated key value: ")   
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky'}

Dictionary after adding 3 elements:
{0: 'Peter', 2: 'Joseph', 3: 'Ricky', 'Emp_ages': (20, 33, 24)}

Updated key value:
{0: 'Peter', 2: 'Joseph', 3: 'MAGIC', 'Emp_ages': (20, 33, 24)}

In [ ]:
#Deleting elements using del keyword
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}    
print(type(Employee))    
print("printing Employee data .... ")    
print(Employee)    
print("Deleting some of the employee data")     
del Employee["Name"]    
del Employee["Company"]    
print("printing the modified information ")    
print(Employee)    
print("Deleting the dictionary: Employee");    
del Employee    
print("Lets try to print it again ");    
print(Employee)